# Database
DATABASE_URL="postgresql://myuser:mypassword@localhost:5433/mydatabase"
POSTGRES_PASSWORD=

# App 
PORT=3000
NODE_ENV=development

# Cluster
WORKERS_COUNT=4

# Thread Pool
THREAD_POOL_SIZE=4